<h1>See you later</h1>
<h2>Bye <%= @name %></h2>
<p>You are leaving at <%= fulltime(@time) %></p>
<p>This page has been opened <%= @times_displayed %> times.</p>	
<p><%= link_to "Start over", hello_path %></p>